// ----------------------------------------------------------------------------
// Atomic Styles
// These styles all apply to basic, can't-be-broken-down HTML elements, and
// are the basic building blocks of all other content
//
// Table of Contents:
//
// * #TOP-LEVEL ATOMS
// * #ANCHORS
// * #HEADINGS
// * #TEXT BLOCKS
// * #LISTS
// * #TABLES
// * #FORMS AND CONTROLS
// * #MEDIA ELEMENTS
//
// ----------------------------------------------------------------------------

// #TOP-LEVEL ATOMS -----------------------------

body {
    border-top: 1.5rem solid $pale-color;
    font-family: $serif-font-stack;
    line-height: $line-height;
}


// #ANCHORS -------------------------------------

a {
    color: $secondary-color;
    transition-property: color;
    transition-duration: 0.5s;

    &:visited {
        color: $tertiary-color;
    }

    &:hover, &:focus {
        color: darken($secondary-color, 20%);
    }

}


// #HEADINGS ------------------------------------

h1, h2, h3, h4, h5, h6 {
    font-family: $display-font-stack;
    font-weight: normal;
    line-height: 1;
    margin-top: 0;

    a {
        text-decoration: none;
    }
}

h2, h3, h4, h5, h6 {
    font-family: $serif-font-stack;
}

h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    @extend %type-size-largest;
    color: $tertiary-color;
    text-align: center;

    @include media($smaller) {
        text-align: left;
    }
}

h2 {
    @extend %type-size-larger;
}

h3 {
    @extend %type-size-large;
}

h4 {
    @extend %type-size-normal;
}

h5 {
    @extend %type-size-small;
}

h6 {
    @extend %type-size-smaller;
    font-weight: bold;
}


// #TEXT BLOCKS ---------------------------------

p {
    max-width: 45em;
}

blockquote {

}

blockquote i, blockquote em {

}

article {

}

aside {

}

code {
}


// #LISTS ---------------------------------------

ul, ol, dl {

}

li, dd {

}

dt, dd {

}

dt {

}

dd {

}


// #TABLES --------------------------------------

table {
}

th {
}

th, td {
}

tr:last-child th, tr:last-child td {
}

caption {
 }


// #FORMS and CONTROLS --------------------------

label {
}

label, input[type="submit"], button {
}

input[type="submit"], button {
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
}


// #MEDIA ELEMENTS ------------------------------
video, audio {
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;

    @include media($smaller) {
        width: auto;

        &.alignright {
            float: right;
            margin-top: -1rem;
            margin-left: 3rem;
            margin-bottom: 2rem;
        }
    }
}
