// ----------------------------------------------------------------------------
// Atomic Styles
// These styles all apply to basic, can't-be-broken-down HTML elements, and
// are the basic building blocks of all other content
//
// Table of Contents:
//
// * #TOP-LEVEL ATOMS
// * #ANCHORS
// * #HEADINGS
// * #TEXT BLOCKS
// * #LISTS
// * #TABLES
// * #FORMS AND CONTROLS
// * #MEDIA ELEMENTS
//
// ----------------------------------------------------------------------------

// #TOP-LEVEL ATOMS -----------------------------

body {
    border-top: 1.5rem solid $pale-color;
    font-family: $serif-font-stack;
    line-height: $line-height;
}


// #ANCHORS -------------------------------------

a {
    color: $tertiary-color;
    transition-property: color;
    transition-duration: 0.5s;

    &:hover, &:focus {
        color: lighten($secondary-color, 20%);
    }
}

p, li, dd {
    a, a:visited {
        color: $secondary-color;
    }
}


// #HEADINGS ------------------------------------

h1, h2, h3, h4, h5, h6 {
    font-family: $display-font-stack;
    font-weight: normal;
    line-height: 1;
    margin-top: 0;

    a {
        text-decoration: none;
    }
}

h2, h3, h4, h5, h6 {
    font-family: $serif-font-stack;
}

h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    @extend %type-size-largest;
    color: $tertiary-color;
    text-align: center;

    @include media($smaller) {
        text-align: left;
    }
}

h2 {
    @extend %type-size-larger;
}

h3 {
    @extend %type-size-large;
}

h4 {
    @extend %type-size-normal;
}

h5 {
    @extend %type-size-small;
}

h6 {
    @extend %type-size-smaller;
    font-weight: bold;
}


// #TEXT BLOCKS ---------------------------------

p {
    max-width: 45em;
}

blockquote {

}

blockquote i, blockquote em {

}

article {
    max-width: 50em;
}

aside {

}

code {
}


// #LISTS ---------------------------------------

ul, ol, dl {

}

li, dd {

}

dt, dd {

}

dt {

}

dd {

}


// #TABLES --------------------------------------

table {
}

th {
}

th, td {
}

tr:last-child th, tr:last-child td {
}

caption {
}


// #FORMS and CONTROLS --------------------------

label {
}

input[type="submit"], button, .button {
    @extend %type-size-small;
    background: lighten($secondary-color, 20%);
    box-shadow: none;
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 0.75em 1em;
    color: #fff;
    text-transform: uppercase;
    font-family: $sans-font-stack;
    transition: background-color 0.5s;
    box-shadow: 2px 2px 4px rgba(128,128,128,0.1);

    &:hover, &:focus, &:active {
        background: $secondary-color;
    }
}


// #MEDIA ELEMENTS ------------------------------
video, audio {
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;

    @include media($smaller) {
        width: auto;

    }
}

// WordPress Image Classes

.alignright {
    margin-top: -1rem;
    margin-bottom: 2rem;
    max-width: 100%;

    @include media($small) {
        float: right;
        margin-left: 5rem;
        max-width: 50%;
    }
}

.alignleft {
    margin-bottom: 2rem;

    @include media($small) {
        float: left;
        margin-right: 2rem;
    }
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.wp-caption-text {
    @extend %type-size-small;
    font-family: $sans-font-stack;
    margin: 0 0 1em;
    color: $medium-gray;
}