@import "neat/neat-helpers";

// Helpers to allow the Bourbon Neat grid to become visible for debugging
// $visual-grid: true;
$visual-grid-index: front;
$visual-grid-opacity: 0.4;
$visual-grid-color: $tertiary-color;

$gutter: golden-ratio(1em, 1);

$max-width: em(1200);

// Define our breakpoints
$smallest: new-breakpoint(min-width 20em 1);
$smaller:  new-breakpoint(min-width 30em 1);
$small:    new-breakpoint(min-width 50em 4);
$normal:   new-breakpoint(min-width 65em 12);
$large:    new-breakpoint(min-width 75em 12);
$larger:   new-breakpoint(min-width 85em 12);
$largest:  new-breakpoint(min-width 95em 12);