/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        position: static;
        overflow: visible;
        margin: 0;
        width: auto;
        height: auto;
    }
}

@mixin visuallyshown {
  clip: auto;
  clip: rect(auto auto auto auto);
  position: static;
  overflow: visible;
  margin: 0;
  width: auto;
  height: auto;
}

.visuallyhidden {
    @include visuallyhidden;
}

.visuallyshown {
    @include visuallyshown;
}