// ----------------------------------------------------------------------------
// BASE COLORS
// These variables define the color scheme used throughout this site
// ----------------------------------------------------------------------------

// #MAIN BRANDING COLORS ------------------------

$primary-color:      #000000;
$secondary-color:    #E57032;
$tertiary-color:     #FFCC00;
$pale-color:         #DEF0EB;

// #UTILITY COLORS ------------------------------

$white:              #FFF;
$faint-gray:         #F0F0F0;
$light-gray:         #DDD;
$medium-gray:        #888;
$dark-gray:          #454545;
$black:              #101010;