@include keyframes(swinging) {
    0%   { @include transform(rotate(0deg)); }
    50%  { @include transform(rotate(20deg)); }
    100% { @include transform(rotate(0deg)); }
}

.excerpt {
    margin-bottom: 3rem;

    @include media($normal) {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        margin-right: 5%;
        padding-right: 2%;
    }

    .attachment-post-thumbnail {
        margin-bottom: 1.5rem;
    }

    @include media($smallestish) {

        .attachment-post-thumbnail {
            box-shadow: 4px 4px 8px rgba(100,100,100,0.15);
            border: 4px solid #fff;
            border-radius: 50%;
            float: right;
            margin-left: 3rem;
        }

        &:hover .attachment-post-thumbnail {
            $default-animation-timing-function: ease-in-out;
            @include animation(swinging, 2s, infinite);
        }

    }

    @include media($normal) {
        .attachment-post-thumbnail {
            width: 150px;
            height: 150px;
            margin-left: 1.5rem;
        }
    }

    h2 {
        margin-bottom: 0;
    }

    .header time {
        @extend %type-size-small;
        font-family: $sans-font-stack;
        color: lighten($medium-gray,20%);
    }
}

.read-more {
    font-style: italic;
    text-decoration: none;
}