#home-portfolio {
    @include clearfix;

    margin-top: 7rem;

    @include media($large) {
        margin-top: -3rem;
    }

    .portfolio-thumbnails {
        display: none;
        margin-bottom: 5rem;

        @include media($large) {
            @include span-columns(4);
        }
    }

    .portfolio-image {
        display: block;
        float: left;
        margin: 0.6666rem;
        height: 100px;
        width: 100px;
        box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
    }

    .portfolio-image:nth-child(2n) .portfolio-image-link {
        -webkit-transform: rotate( -1deg );
        transform: rotate( -1.5deg );
    }

    .portfolio-image:nth-child(3n) .portfolio-image-link {
        -webkit-transform: rotate( 1deg );
        transform: rotate( 1.5deg );
    }

    .portfolio-image:nth-child(5n) .portfolio-image-link {
        -webkit-transform: rotate( 0.75deg );
        transform: rotate( 0.75deg );
    }

    .portfolio-image figcaption {
        @extend .visuallyhidden;
    }

    .portfolio-thumbnail {
        width: 100px;
        height: 100px;
    }

    .portfolio-image-link {
        overflow: hidden;
        display: block;
        width: 100px;
        height: 100px;
        border: 3px solid transparent;


        &.portfolio-current {
            border: 3px solid $tertiary-color;
        }

        &:hover,
        &:focus {
            border: 3px solid $secondary-color;
        }
    }

    #home-portfolio-fullsize {
        margin-top: -3rem;
        margin-bottom: 3rem;
        position: relative;

        img {
            margin: 0 auto;
            display: block;
        }

        @include media($small) {
            margin-top: -6rem;
        }

        @include media($large) {
            @include span-columns(8);
            margin-bottom: 5rem;
        }
    }
}

.portfolio-control {
    @extend %type-size-largest;
    position: absolute;
    height: 4rem;
    width: 4rem;
    text-align: center;
    border-radius: 2rem;
    background: $tertiary-color;
    color: $white;
    box-shadow: 4px 4px 8px rgba(100,100,100,0.1);
    transition: opacity 0.5s;
    top: -5rem;

    @include media($smaller) {
        opacity: 0.3;
        top: 10rem;
    }

    @include media($large) {
        top: 13rem;
    }

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        color: #fff;
        opacity: 1;
    }

    span {
        @extend .visuallyhidden;
    }
}

.portfolio-control-prev {
    left: 0;

    @include media($large) {
        left: -25px;
    }
}

.portfolio-control-next {
    right: 0;

    @include media($large) {
        right: -25px;
    }
}

#home-portfolio-fullsize:hover {
    .portfolio-control {
        opacity: 0.6;

        &:hover,
        &:focus,
        &:active {
            opacity: 1;
        }
    }
}