#home-portfolio {

    border-bottom: 4.5px dotted $light-gray;
    margin-bottom: 3rem;
    margin-top: -2rem;
    padding-bottom: 2rem;
    position: relative;

    ::selection {
        background-color: transparent;
    }

    ::-moz-selection {
        background-color: transparent;
    }

    & h1.title {
        text-align: center;
    }

}

.portfolio-thumbnails {
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;

    @include media($small) {
        margin-top: -3rem;
    }
}

.portfolio-thumbnail {
    display: inline-block;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.portfolio-thumbnail-caption {
    @extend .visuallyhidden;
}

.portfolio-thumbnail-link {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: inline-block;
    background-color: $faint-gray;

    &:hover,
    &:focus {
        background-color: $secondary-color;
    }
}

.portfolio-thumbnail-current {
    background-color: $tertiary-color;
}

.portfolio-thumbnail-image {
    @extend .visuallyhidden;
    box-shadow: 5px 5px 8px rgba(0,0,0,.1);
}

.portfolio-thumbnail:nth-child(2n) .portfolio-thumbnail-link {
    -webkit-transform: rotate( -1deg );
    transform: rotate( -1.5deg );
}

.portfolio-thumbnail:nth-child(3n) .portfolio-thumbnail-link {
    -webkit-transform: rotate( 1deg );
    transform: rotate( 1.5deg );
}

.portfolio-thumbnail:nth-child(5n) .portfolio-thumbnail-link {
    -webkit-transform: rotate( .75deg );
    transform: rotate( .75deg );
}

.portfolio-controls {
    margin-bottom: 1rem;
}

.portfolio-control {
    @extend %type-size-larger;
    background-color: $tertiary-color;
    border-radius: 1.5rem;
    border: 3px solid transparent;
    box-shadow: 4px 4px 8px rgba(100,100,100,.1);
    color: $white;
    display: inline-block;
    height: 3rem;
    padding: 0;
    position: absolute;
    text-align: center;
    top: -1rem;
    transition: opacity .5s;
    width: 3rem;
    opacity: 0.7;

    &:hover,
    &:focus {
        color: $white;
        opacity: 1;
        border: 3px dashed $white;
        background-color: $tertiary-color;
    }

    span {
        @extend .visuallyhidden;
    }

    @include media($smaller) {
        top: .75rem;
        font-size: 3rem;
        height: 5rem;
        width: 5rem;
        border-radius: 2.5rem;
    }

}

.portfolio-control-prev {
    left: .5rem;
}

.portfolio-control-next {
    right: .5rem;
}

// #home-portfolio {

//     @include media($large) {
//         margin-top: -3rem;
//     }

//     .portfolio-thumbnails {
//         position: relative;
//         outline: 1px solid red;

//         @include media($large) {
//             @include span-columns(4);
//             margin-top: -2rem;
//             margin-left: -.75rem;
//             margin-bottom: 5rem;
//             margin-right: 2rem;
//         }

//         @include media($larger) {
//             position: static;
//         }
//     }

//     .portfolio-image {
//         margin: .6666rem;
//         height: 100px;
//         width: 100px;
//         box-shadow: 5px 5px 8px rgba(0,0,0,.1);
//         display: block;

//         @include media($large) {
//             display: block;
//             float: left;
//         }
//     }

//     .portfolio-image:nth-child(2n) .portfolio-image-link {
//         -webkit-transform: rotate( -1deg );
//         transform: rotate( -1.5deg );
//     }

//     .portfolio-image:nth-child(3n) .portfolio-image-link {
//         -webkit-transform: rotate( 1deg );
//         transform: rotate( 1.5deg );
//     }

//     .portfolio-image:nth-child(5n) .portfolio-image-link {
//         -webkit-transform: rotate( .75deg );
//         transform: rotate( .75deg );
//     }

//     .portfolio-image figcaption {
//         @extend .visuallyhidden;
//     }

//     .portfolio-thumbnail {
//         width: 100px;
//         height: 100px;
//     }

//     .portfolio-image-link {
//         overflow: hidden;
//         display: block;
//         width: 100px;
//         height: 100px;
//         border: 2px solid transparent;

//         &.portfolio-current {
//             border: 2px solid $tertiary-color;
//             box-shadow: 0px 0px 8px rgba(255,128,0,.8);
//         }

//         &:hover,
//         &:focus {
//             border: 2px solid $secondary-color;
//         }
//     }

//     #home-portfolio-fullsize {
//         margin-top: -3rem;
//         margin-bottom: 3rem;
//         position: relative;

//         img {
//             margin: 0 auto;
//             display: block;
//         }

//         @include media($small) {
//             margin-top: -6rem;
//         }

//         @include media($large) {
//             @include span-columns(8);
//             margin-bottom: 5rem;
//         }
//     }
// }

// .portfolio-controls {
//     margin-bottom: 1rem;
//     display: none;
// }

// .portfolio-control {
//     @extend %type-size-largest;
//     background: $tertiary-color;
//     border-radius: 2rem;
//     border: 3px solid transparent;
//     box-shadow: 4px 4px 8px rgba(100,100,100,.1);
//     clear: right;
//     color: $white;
//     display: inline-block;
//     height: 4rem;
//     position: absolute;
//     text-align: center;
//     transition: opacity .5s;
//     width: 4rem;

//     @include media($smaller) {
//         opacity: .5;
//     }

//     @include media($larger) {
//         font-size: 48px;
//         top: 27rem;
//         height: 5rem;
//         width: 5rem;
//         border-radius: 2.5rem;
//         z-index: 10;
//     }

// #home-portfolio-fullsize:hover {
//     .portfolio-control {
//         opacity: .6;

//         &:hover,
//         &:focus,
//         &:active {
//             opacity: 1;
//         }
//     }
// }