#sitewide-navigation {
    .menu-primary-menu-container {
        position: absolute;
        top: -3.5rem;
        width: 110%;
        border-top: 0.5rem solid lighten($secondary-color, 10%);
        margin-left: -1rem;
        margin-right: -1rem;

        &.toggled-on {
            border-bottom: 0.5rem solid lighten($secondary-color, 10%);
            box-shadow: 0 5px 12px rgba(0,0,0,0.1);
            z-index: 5;
        }

        @include media($small) {
            border-top: 0;
            position: relative;
            width: 100%;
            margin: 0;
            top: -1.5rem;

            &.toggled-on {
                border-bottom: 0;
                box-shadow: none;
            }
        }

        @include media($normal) {
            width: 40em;
            float: right;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .menu-toggle {
        @extend %type-size-large;
        font-weight: normal;
        text-transform: lowercase;
        background-color: lighten($secondary-color, 10%);
        position: absolute;
        top: -3.5rem;
        right: 0.5rem;
        color: $white;
        transition: background-color 0.5s, padding-top 0.5s;
        padding: 0.25rem 0.6666rem;
        text-align: center;
        margin: 0;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border: 3px solid transparent;
        border-top: 0;
        z-index: 9;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.1);

        &:hover, &:focus {
            background-color: darken($secondary-color, 10%);
            cursor: pointer;
            padding-top: 1.5rem;
            outline: 0;
            border: 3px solid lighten($secondary-color, 30%);
            border-top: 0;
        }

        &:before {
            content: '☰';
        }

        &.toggled-on:before {
            content: '▲';
        }

        @include media($small) {
            display: none;
        }
    }

    .nav-menu {
        @include visuallyhidden;

        &.toggled-on {
            @include visuallyshown;
        }

        @include media($small) {
            @include visuallyshown;
        }
    }

    .nav-menu,
    .menu-item {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .menu-item {
        a {
            font-family: $display-font-stack;
            text-transform: uppercase;
            display: block;
            padding: 1rem 0;
            text-decoration: none;
            border-top: 1px dashed $tertiary-color;
            color: $primary-color;
            background-color: rgba(255,255,255,0.95);
            transition: background-color 0.25s;

            &:hover, &:focus {
                background: $secondary-color;
                color: $white;
            }
        }

        &:first-child a {
            border-top: 0;
        }

        @include media($small) {
            display: inline-block;
            margin: 1.5rem 2em;

            a {
                border-top: 0;
                padding: 0.5rem;
                transition: color 0.5s;
                color: $secondary-color;

                &:hover, &:focus {
                    background: transparent;
                    color: $primary-color;
                }
            }
        }

        @include media($normal) {
            margin-top: 6rem;
            margin-right: 0.75rem;
        }
    }
}