#masthead {
    @include clearfix;
    position: relative;
    margin-bottom: 3rem;

    .site-title {
        display: block;

        h1 {
            @include hide-text;
            background-image: url(images/marsha-riti.gif);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 210px;
            height: 119px;
            margin: 2rem auto;
        }

        &:focus, &:active {
            outline: thin dotted #999;
        }

        @include media($normal) {
            margin: 2rem 0;
            float: left;
            h1 {
                width: 250px;
                height: 142px;
            }
        }
    }
}

a.skip-link {
    @extend %type-size-large;
    text-align: center;
    background: darken($secondary-color,30%);
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    transition: background-color 1s;
    padding: 0.75rem 0;

    &:focus {
        background: $secondary-color;
        border: 4px solid lighten($secondary-color, 20%);

        @include media($small) {
            color: $white;
            width: 100%;
            position: absolute !important;
            top: 0; right: 0;
            padding: 0.5rem 1rem;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            outline: 0;
        }
    }
}