$animation-duration: 15s;

@mixin animation ($name, $duration, $iteration-count) {
    -webkit-animation: $name $duration $iteration-count;
    animation: $name $duration $iteration-count;
}

@mixin shaky-ani {
    0%, 33% {
        background-position: 0% 0%;
    }

    33.0001%, 66% {
        background-position: 0% 50.4%;
    }

    66.0001%, 100% {
        background-position: 0% 101%;
    }
}

@-webkit-keyframes shaky {
    @include shaky-ani;
}

@keyframes shaky {
    @include shaky-ani;
}

#masthead {
    @include clearfix;
    position: relative;
    margin-bottom: 3rem;

    .site-title {
        display: block;

        h1 {
            @include hide-text;
            @include animation(shaky, 0.5s, infinite);
            background: transparent url('images/marsha-riti.svg') no-repeat 50% 0;
            background-size: 99%;
            width: 210px;
            height: 124px;
            margin: 2rem auto;
            opacity: 0.7;
        }

        &:focus, &:active {
            outline: thin dotted #999;
        }

        @include media($normal) {
            margin: 2rem 0;
            float: left;
            h1 {
                width: 250px;
                height: 150px;
            }
        }
    }
}

a.skip-link {
    @extend %type-size-large;
    text-align: center;
    background: darken($secondary-color,30%);
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    transition: background-color 1s;
    padding: 0.75rem 0;

    &:focus {
        background: $secondary-color;
        border: 4px solid lighten($secondary-color, 20%);

        @include media($small) {
            color: $white;
            width: 100%;
            position: absolute !important;
            top: 0; right: 0;
            padding: 0.5rem 1rem;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            outline: 0;
        }
    }
}